/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/*GENEREAL*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65em;
}
p {
  margin-bottom: 1.6em;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #25a2c3;
  line-height: 1.5em;
}

h1 {
  font-size: 2.5rem;
  line-height: 1em;
  margin-bottom: 0.6em;
}

/* NAV HEADER */
nav {
  background-color: black;
  text-align: center;
  padding: 2em;
}

header {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 2em 1em;
  text-align: center;
}
nav img {
  height: 3em;
}

button {
  background-color: #f04c2f;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: none;
  padding: 1em 2em;
  border-radius: 5px;
}

/*MAIN*/
main {
  padding: 2em 1em;
  text-align: center;
}

main img {
  height: 15em;
  border-radius: 50%;
  margin-bottom: 1.6em;
}
h4 {
  margin-bottom: 0.6em;
}
